---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 3
UseTab: Always
BreakBeforeBraces: K&R
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
ContinuationIndentWidth: 2
IndentCaseLabels: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
PointerAlignment: Left
IndentPPDirectives: None
AlwaysBreakTemplateDeclarations: Yes
---
